@import "tailwindcss";
:root{
    --bg-color:#f5f5f5;
}
body{
    

    /* Apply animation */
    background: linear-gradient(270deg, #ff6f61, #6b5b95, #88b04b, #f7cac9, #92a8d1);
    background-size: 1000% 1000%;
    animation: changeColors 45s ease infinite;
}
 @keyframes changeColors {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  